.env
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
mydjango/
.vscode/
*.iml
.DS_Store
Thumbs.db
.pytest_cache/
*.pycodestyle
.env.local
*.bak
requirements_all.txt
*.log
db.sqlite3
# Ignore media files
media/
/staticfiles/
