{% extends "base.html" %}
{% load static %}

{% block title %}Tutti i Prodotti - ShopEasy{% endblock title %}

{% block content %}
    <div class="container my-5">
        <!-- Intestazione della Pagina -->
        <div class="row text-center mb-5">
            <div class="col-12">
                <h1>Our Catalog</h1>
                <p class="lead">Esplora la nostra selezione completa di prodotti di alta qualità.</p>
            </div>
        </div>

        <div class="row">
            <!-- Colonna Sinistra: Filtri e Ordinamento -->
            <div class="col-lg-3">
                <div class="card shadow-sm sticky-top" style="top: 20px;">
                    <div class="card-header">
                        <h5 class="mb-0">Filter and order products</h5>
                    </div>
                    <div class="card-body">
                        <form method="get" action="">
                            <!-- Filtro per Categoria -->
                            <h6>Category</h6>
                            <select class="form-select mb-4" name="category" id="categoryDropdown">
                                <option value="">Tutte le Categorie</option>
                                {% for category in category_list %}
                                    <option value="{{ category.slug }}" {% if selected_category == category.slug %}selected{% endif %}>
                                        {{ category.name }}
                                    </option>
                                {% empty %}
                                    <option disabled>No categories found</option>
                                {% endfor %}
                            </select>

                            <!-- Filtro per Prezzo -->
                            <h6>Max price</h6>

                            <label for="priceRange" class="form-label">
                                Max price: €<span id="priceValue">{{ selected_max_price|default:1000 }}</span>
                            </label>

                            <div class="d-flex align-items-center">
                                <button
                                        type="button"
                                        class="btn btn-outline-secondary btn-sm me-2"
                                        id="priceDecrement"
                                >
                                    <i class="fa-solid fa-minus"></i>
                                </button>

                                <input
                                        type="range"
                                        class="form-range flex-grow-1"
                                        name="max_price"
                                        id="priceRange"
                                        min="0"
                                        max="1000"
                                        value="{{ selected_max_price|default:1000 }}"
                                >

                                <button
                                        type="button"
                                        class="btn btn-outline-secondary btn-sm ms-2"
                                        id="priceIncrement"
                                >
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>


                            <!-- Ordinamento -->
                            <h6 class ="mt-3">Order by</h6>
                            <select class="form-select mb-4" name="order">
                                <option value="" {% if not selected_order %}selected{% endif %}>Predefinito</option>
                                <option value="1" {% if selected_order == '1' %}selected{% endif %}>Prezzo: crescente</option>
                                <option value="2" {% if selected_order == '2' %}selected{% endif %}>Prezzo: decrescente</option>
                                <option value="3" {% if selected_order == '3' %}selected{% endif %}>Più recenti</option>
                            </select>

                            <button type="submit" class="btn btn-sm btn-outline-dark mt-2">Apply filters   <i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Colonna Destra: Griglia Prodotti -->
            <div class="col-lg-9">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {# Inizia il loop dei prodotti. Usa page_obj se usi la paginazione di Django. #}
{#                    {% for product in page_obj|default:products %}#}
{#                        <div class="col">#}
{#                            <div class="card h-100 text-center shadow-sm">#}
{#                                <a href="#">#}
{#                                    <img src="{{ product.get_main_image}}" class="card-img-top p-3" alt="{{ product.name }}">#}
{#                                </a>#}
{#                                <div class="card-body d-flex flex-column">#}
{#                                    <h5 class="card-title"><a href="#" class="text-decoration-none text-dark">{{ product.name|default:"Nome Prodotto" }}</a></h5>#}
{#                                    <p class="card-text fw-bold text-primary fs-5 mt-auto">€{{ product.price|default:"49.99" }}</p>#}
{#                                    <form method="post" action="{% url 'product_detail' product.slug %}" class="mt-2">#}
{#                                        {% csrf_token %}#}
{#                                        <button type="submit" class="btn btn-success w-100">View Details</button>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% empty %}#}
{#                        <div class="col-12">#}
{#                            <p class="text-center">No product found.</p>#}
{#                        </div>#}
{#                    {% endfor %}#}
                    {% for product in page_obj|default:products %}
                        <div class="col">
                            <div class="card h-100 text-center shadow-sm">
                                <a href="#">
                                    <img src="{{ product.get_main_image }}" class="card-img-top p-3" alt="{{ product.name }}">
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">
                                        <a href="#" class="text-decoration-none text-dark">{{ product.name|default:"Nome Prodotto" }}</a>
                                    </h5>
                                    <p class="card-text fw-bold text-primary fs-5 mt-auto">€{{ product.price|default:"49.99" }}</p>
                                    {% if product.stock == 0 %}
                                        <p class="text-danger fw-bold">Out of Stock</p>
                                    {% endif %}
                                        <form method="post" action="{% url 'product_detail' product.slug %}" class="mt-2">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success w-100">View Details</button>
                                        </form>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12">
                            <p class="text-center">No product found.</p>
                        </div>
                    {% endfor %}
                    {# Fine del loop #}
                </div>

                <!-- Paginazione -->
                {% if page_obj.has_other_pages %}
                    <nav aria-label="Page navigation" class="mt-5 d-flex justify-content-center">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Precedente</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Precedente</span></li>
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next Page</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Next Page</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_js %}
    <script src="{% static 'js/product/price_slider.js' %}"></script>
{% endblock footer_js %}
