{% extends "base.html" %}
{% load static %}

{% block title %}Manage Catalog - ShopFrontier{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="row text-center mb-5">
            <div class="col-12">
                <h1>Manage Catalog</h1>
                <p class="lead">Manage products and categories of your store .</p>
            </div>
        </div>

        <!-- Search bar -->
        <div class="row mb-4">
            <div class="col-12">
                <form method="get" action="{% url 'manage_catalog' %}" class="d-flex justify-content-center">
                    <div class="input-group w-50">
                        <input type="text" class="form-control" name="search" placeholder="Search categories or products..." value="{{ request.GET.search }}">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i> Search
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5" >
            <!-- Left column filters -->
            <div class="col-lg-3">
                {% include "products/product_filter_section.html" with category_list=category_list selected_max_price=selected_max_price select_order=selected_order selected_category=selected_category %}
            </div>

            <!-- Right column Categories and products -->
            <div class="col-lg-9">
                <!-- Categories -->
                <div class="mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3>Categories</h3>
                        <a href="{% url 'category_add' %}" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i> New category
                        </a>
                    </div>


                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                        {% for category in categories %}
                            <div class="col">
                                <div class="card h-100 border-info">
                                    <div class="card-header bg-info text-white text-center">
                                        <h6 class="mb-0">
                                            <i class="fas fa-folder"></i> {{ category.name }}
                                        </h6>
                                    </div>
                                    <div class="card-body text-center">

                                        <div class="position-relative">
                                            <img src="{% if category.image %}{{ category.image.url }}{% else %}https://placehold.co/300x200/ccc/333?text=No+Image{% endif %}" class="card-img-top p-2" alt="{{ category.name }} image " style="height: 200px; object-fit: cover;">
                                        </div>
                                        <p class="card-text small text-muted mt-3">{{ category.description|default:"No description" }}</p>

                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="{% url 'category'  category.slug %}" class="btn btn-sm btn-primary">
                                                <i class="fas fa-eye"></i> view
                                            </a>
                                            <a href="{% url 'category_edit' category.id %}" class="btn btn-sm btn-warning">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>
                                            <form method="post" action="{% url 'category_delete' category.id %}" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to eliminate the category named : {{ category.name }}?')">
                                                    <i class="fas fa-trash"></i> Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 mt-4">
                                <div class="alert alert-info text-center d-inline-block" style="margin-left: 130px">
                                    <i class="fas fa-info-circle"></i> No categories found.
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Product section -->
                <div class="mb-5 mt-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3>Products</h3>
                        <a href="{% url 'add_product' %}" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i> New Product
                        </a>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
                        {% for product in page_obj|default:products %}
                            <div class="col">
                                {% include "products/product_card.html" with product=product actual_section='manage_catalog' %}
                            </div>
                        {% empty %}
                            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 mt-4">
                                <div class="alert alert-info text-center d-inline-block" style="margin-left: 40px">
                                    <i class="fas fa-info-circle"></i> No product found that matches search criteria.
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <!-- Pagination -->
                {% if page_obj.has_other_pages %}
                    <nav aria-label="Page navigation" class="mt-5 d-flex justify-content-center">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">
                                        Previous
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">
                                            {{ i }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">
                                        Next
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{#{% block footer_js %}#}
{#    <script src="{% static 'js/managerareas/filter_manager.js' %}"></script>#}
{##}
{#{% endblock footer_js %}#}